ollama
diffusers
transformers
accelerate
torch
moviepy<2.0.0
ffmpeg-python
coqui-tts
SQLAlchemy
pydantic
pyyaml
pytest
python-dotenv
compel
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
decorator>=5.1.0
